* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
    padding: 15px;

}
.image-item {
    border-radius: 10px;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
@media (max-width: 800px) {
    .images {
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always ;
    }
    .image-item {
        scroll-snap-align: center;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .images::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .images {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
/* @media (max-width: 450px) {
    .images {
        grid-template-columns: repeat(1, 1fr);
    }
} */