* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding: 25px;
    grid-template-areas: "h1 h2 h3" "h1 h4 h5";
}

.post-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.post-item-large {
    height: 80%;
}

.post-item {
    display: flex;
    flex-direction: column;
}

.post-content {
    flex: 1;
    padding: 15px 0;
    font-weight: 400;
    color: rgb(21, 104, 182);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-time {
    text-transform: uppercase;
    font-weight: bold;
    color: #acacac;
}

.post-item:first-child {
    grid-area: h1;
}

.post-item:nth-child(2) {
    grid-area: h2;
}

.post-item:nth-child(3) {
    grid-area: h3;
}

.post-item:nth-child(4) {
    grid-area: h4;
}

.post-item:nth-child(5) {
    grid-area: h5;
}