* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
}
.container {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 190px 190px 190px 190px 190px 190px;
    gap: 3px;
    justify-content: center;
}
.container-item img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.container-item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}
.container-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
}
.container-item:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/2;
}
.container-item:nth-child(4) {
    grid-column: 4/5;
    grid-row: 2/3;
}
.container-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/4;

}
.container-item:nth-child(6) {
    grid-column: 1/2;
    grid-row: 4/5;
}
.container-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 3/5;
}
.container-item:nth-child(8) {
    grid-column: 3/4;
    grid-row: 3/5;
}
.container-item:nth-child(11) {
    grid-column: 4/5;
    grid-row: 3/5;
}
.container-item:nth-child(10) {
    grid-column: 1/3;
    grid-row: 5/7;
}
.container-item:nth-child(9) {
    grid-column: 3/4;
    grid-row: 5/6;
}
.container-item:nth-child(12) {
    grid-column: 3/4;
    grid-row: 6/7;
}
.container-item:nth-child(13) {
    grid-column: 4/5;
    grid-row: 5/7;
}